.letter{
    width:100%;
    height:200vh;
    background-image: url('C:/Users/bla_p/Desktop/개발/minsu-birthday/image/생일편지배경.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2em;
}
.letter>p{
    display: flex;
    position: relative;
    top: 400px;
    right: -480px;
    line-height: 1.5em;
}